.selectDisable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.dark-mode {
  filter: invert(100%) hue-rotate(180deg)
}

.inverted img, picture, video {
  filter: invert(1) hue-rotate(180deg);
}

#brand-image {
  width: 60px;
}

#brand-text {
  color: #4067b1;
}

li {
  color: #4067b1;
  font-weight: 500;
}

#my-footer {
  background-color: #4067b1 !important;
}

#legend-text {
  letter-spacing: 1px;
  color: #4067b1;
}

#login-submit, #theme-btn {
  background-color: #4067b1;
}

.feat-bg {
  color: #4067b1;
}

.divider {
  color: black;
  opacity: 0.07;
}

#banner {
  background-image: url("/img/home_banner.png");
  background-size: cover;
}

.id-heading {
  font-size: 0.95em;
  letter-spacing: 0.3pt;
  font-weight: 500;
  color: #94a9be;
}

button[aria-selected='true'] {
  font-weight: 500;
}

button[aria-selected='false'] {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.623);
}